In [1]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
sorted_ages=sorted(ages)

#Sorting the list and find the min and max age

min_age,max_age=sorted_ages[0],sorted_ages[-1]
print(min_age,max_age)

#Adding the min age and the max age again to the list

ages.append(min_age)
ages.append(max_age)
sorted_ages=sorted(ages)
print(ages)

#Finding the median age (one middle item or two middle items divided by two)

if(len(ages)%2==0):
    median_age=(sorted_ages[(int(len(ages)/2))-1]+sorted_ages[int(len(ages)/2)])/2
else:
    median_age=sorted_ages[int(((len(ages)-1)/2)+0.5)]
print(median_age)

#Finding the average age (sum of all items divided by their number)

avg_sum=sum(ages)/len(ages)
print(avg_sum)

#Finding the range of the ages (max minus min)

range_ages=max_age-min_age
print(range_ages)

19 26
[19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]
24.0
22.75
7

In [3]:
#Create an empty dictionary called dog

dog={}

#Add name, color, breed, legs, age to the dog dictionary

dog.update({"name":"charlie"})
dog.update({"color":"black"})
dog.update({"breed":"golden retriver"})
dog.update({"legs":"4"})
dog.update({"age":"3"})
print(dog.keys())

#Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary

student={
    "first_name":"nistala",
    "last_name":"sai ram",
    "gender":"m",
    "age":"21",
    "marital_status":"single",
    "skills":["reading","writing"],
    "country":"USA",
    "city":"Kansas",
    "address":"6810 W 138th street"
}

#Get the length of the student dictionary
len_student=(len(student.keys()))
print(len_student)

#Get the value of skills and check the data type, it should be a list

print(type(student['skills']))

#Modify the skills values by adding one or two skills

student['skills'].append("playing")
student['skills'].append("coding")

#Get the dictionary keys as a list

student_keys=[]
for i in student.keys():
    student_keys.append(i)
print(student_keys)

#Get the dictionary values as a list

student_val=[]
for i in student.values():
    student_val.append(i)
print(student_val)

dict_keys(['name', 'color', 'breed', 'legs', 'age'])
9
<class 'list'>
['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
['nistala', 'sai ram', 'm', '21', 'single', ['reading', 'writing', 'playing', 'coding'], 'USA', 'Kansas', '6810 W 138th street']

In [7]:
#Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

sisters=("sowmya","maha","ramya","pranavi")
brothers=("phani",'RK',"joshi")

#Join brothers and sisters tuples and assign it to siblings

siblings=sisters+brothers
print(siblings)

#How many siblings do you have?
      
len_siblings=len(siblings)
print(len_siblings)

#Modify the siblings tuple and add the name of your father and mother and assign it to family_members

siblings += ("nag","parvathi")
print(siblings)

('sowmya', 'maha', 'ramya', 'pranavi', 'phani', 'RK', 'joshi')
7
('sowmya', 'maha', 'ramya', 'pranavi', 'phani', 'RK', 'joshi', 'nag', 'parvathi')

In [8]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
#Find the length of the set it_companies
print(len(it_companies))
#Add 'Twitter' to it_companies
it_companies.add("meta")
it_companies.update({"Twitter"})
#Insert multiple IT companies at once to the set it_companies
it_companies.update({"TCS","Accenture","infosys"})
#Remove one of the companies from the set it_companies
it_companies.remove("TCS")
print(it_companies)
#What is the difference between remove and discard
it_companies.discard("sky") # this command does not throw any error even if key is not found
#it_companies.remove("sky") # this command throws an error if key is not found
#Join A and B
join= A | B
#Find A intersection B
intersection= A & B
#Is A subset of B
is_subset= A.issubset(B)
#Are A and B disjoint sets
is_disjoint= A.isdisjoint(B)
#Join A with B and B with A
Tempset=A
A=A.union(B)
B=B.union(Tempset)
print(A,B)
#What is the symmetric difference between A and B
symmetric_diff=A.symmetric_difference(B)
#the symmetric difference of 2 sets return the elements present 
#in the set except the elements precent in both sets
#Delete the sets completely
it_companies.clear()
#Convert the ages to a set and compare the length of the list and the set.
set_age=set(age)
print(len(set_age),len(age))

7
{'Google', 'infosys', 'Facebook', 'Microsoft', 'IBM', 'Accenture', 'meta', 'Twitter', 'Amazon', 'Apple', 'Oracle'}
{19, 20, 22, 24, 25, 26, 27, 28} {19, 20, 22, 24, 25, 26, 27, 28}
5 8

In [9]:
radius=int(input("enter the radius of circle : "))
area=((22/7)*radius*radius)
_circum_of_circle=(2*(22/7)*radius)
print(f"the area of circle is {area} and it's circumference is {_circum_of_circle}" )

the area of circle is 154.0 and it's circumference is 44.0

In [1]:
string="I am a teacher and I love to inspire and teach people"
unique_words=set(string.split(" ")) 
print(len(unique_words))

10

In [4]:
print("Name\t\tAge\tCountry\t\tCity\nAsabeneh\t250\tFinland\t\tHelsinki")

Name		Age	Country		City
Asabeneh	250	Finland		Helsinki

In [10]:
radius=10
area=((3.14)*(radius**2))
print(f'The area of circle with radius {radius} is {int(area)} meters square')

The area of circle with radius 10 is 314 meters square

In [11]:
n=int(input())
lbs=[]
kgs=[]
for i in range(n):
    x=float(input())
    lbs.append(x)
    kgs.append(round(x/2.205,2)) # divided the value by constant
print(kgs)

[68.03, 72.56, 77.55]